{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Log in</h2>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" class="standardButton" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'auth_password_reset' %}">{% trans "Forgot password" %}? {% trans "Reset it" %}</a></p>
<p><a href="{% url 'registration_register' %}">{% trans "Not member" %}? {% trans "Register" %}</a></p>
{% endblock %}
