{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Polls board</h2>
<table>

{% if latest_question_list %}
    {% if user.is_authenticated %}
    <thead>
        <tr>
            <td>Poll</td>
            <td>Current leader</td>
            <td>Ending date</td>
        </tr>
    </thead>
    {% for question in latest_question_list %}
       <tr>
           <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
           <td>{{ question.current_leader }}</td>
           <td>{{ question.end_date }}</td>
        </tr>
    {% endfor %}
    {% for question in finished_polls_list %}
        <tr>
            <td><a href="{% url 'polls:result' question.id %}">{{ question.question_text }}</a></td>
            <td>{{ question.current_leader }}</td>
            <td>{{ question.end_date }}</td>
         </tr>
    {% endfor %}
</table>
        {% else %}
        <tr>
            <h2>Please log in before trying to vote!</h2>
        </tr>

{% endif %}
    <h3><a href ="{% url 'polls:finishedpolls' %}">Show results of finished polls.</a></h3>
{% else %}
    <p>No polls are currently available.</p>
        <ul>
        <a href ="{% url 'polls:finishedpolls' %}">Show results of finished polls.</a>
    </ul>
{% endif %}
{% endblock %}